/* You can add global styles to this file, and also import other style files */

:root {
  --fontFamily: "Roboto", sans-serif;
  --fontWeight: 400;
  --cardBgColor: #643237;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--fontFamily) !important;
}

.m-r-10 {
  margin-right: 10px !important;
}